.wrapper {
  align-items: start;
  display: grid;
  box-sizing: border-box;
  gap: 1rem;
  grid-template:
    "header" auto
    "body" 1fr
    "footer" auto / auto;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 72em) {
  .wrapper {
    grid-template:
      "header body" 1fr
      "header footer" auto / 24em minmax(auto, 48em);
  }
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
  max-width: 48em;
}

.footer {
  grid-area: footer;
}
